# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out
coverage.txt
coverage.html

# Go workspace file
go.work
go.work.sum

# Dependency directories
vendor/

# IDE - VSCode
.vscode/
*.code-workspace

# IDE - JetBrains
.idea/
*.iml
*.iws

# IDE - Vim
*.swp
*.swo
*~

# OS specific
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.log

/tmp/*
!/tmp/.gitkeep

/data

/pkg/cli/web/dist/*
!/pkg/cli/web/dist/.gitkeep

/web/dist
/web/node_modules
